.toast-container {
    z-index: 1200;
    top: 10%;
}

.card-table {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.copy-btn {
    color: var(--shade2);
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.paginate {
    margin-top: auto;
}