<div class="chart-page d-flex justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="chart-container d-flex justify-content-center align-items-center">
                    <canvas id="MyChart">{{ chart }}</canvas>
                </div>
            </div>
            <div class="col-sm-7 d-flex justify-content-center align-items-center">
                <div class="chart-container">
                    <canvas id="BarChart">{{ barChart }}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>