<app-createform></app-createform>
<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col" class="text-center">Topic</th>
                <!-- <th scope="col">Difficulty</th> -->
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questions, let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{ question.title }}</td>
                <td class="text-center">{{question.type}}</td>
                <!-- <td>{{ question.difficultyLevel }}</td> -->
                <td class="text-center"><button class="btn btn-primary mb-1 updatebtn" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropupdate" #{{question._id}}
                        (click)="getQuestionById(question._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg></button>
                    <button class="btn btn-danger mb-1" #{{question._id}} (click)="deleteQuestion(question._id)"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdropupdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="myForm text-center" name="formData" #updateQue="ngForm">
                    <div class="mb-3 form-floating">
                        <input class="form-control" placeholder="Question" type="text" #title required name="title"
                            value={{que.title}} [(ngModel)]="que.title">
                        <label for="emailid">Question</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <select #type class="form-select" name="type" value={{que.type}} [(ngModel)]="que.type">
                            <option value="Node" selected>Node</option>
                            <option value="Java">Java</option>
                            <option value="Javascript">Javascript</option>
                            <option value="Angular">Angular</option>
                            <option value="Mongo">Mongo</option>
                            <option value="Spring">Spring</option>
                        </select>
                        <label for="type">Type</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 form-floating">
                                <input class="form-control" type="text" #option1 placeholder="Option 1" required
                                    value={{que.option1}} name="option1" [(ngModel)]="que.option1">
                                <label for="option1">Option 1</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 form-floating">
                                <input class="form-control" type="text" #option2 placeholder="Option 2" required
                                    value={{que.option2}} name="option2" [(ngModel)]="que.option2">
                                <label for="option1">Option 2</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 form-floating">
                                <input class="form-control" type="text" #option1 placeholder="Option 3" required
                                    value={{que.option3}} name="option3" [(ngModel)]="que.option3">
                                <label for="option3">Option 3</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 form-floating">
                                <input class="form-control" type="text" #option1 placeholder="Option 4" required
                                    value={{que.option4}} name="option4" [(ngModel)]="que.option4">
                                <label for="option4">Option 4</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 form-floating">
                        <select #answer class="form-select" name="answer" value={{que.answer}}
                            [(ngModel)]="que.answer">
                            <option value="option1" selected>Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                            <option value="option4">Option 4</option>
                        </select>
                        <label for="option1">Correct Answer</label>
                    </div>

                    <div class="mb-3 form-floating">
                        <select #difficultyLevel class="form-select" name="difficultyLevel" placeholder="Difficulty"
                            [(ngModel)]="que.difficultyLevel" value={{que.difficultyLevel}}>
                            <option value="easy" selected>Easy</option>
                            <option value="medium">Medium</option>
                            <option value="difficult">Difficult</option>
                        </select>
                        <label for="difficulty">Difficulty</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="updateQuestion(que._id, updateQue.value)">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" *ngIf="showUpdateToast">
    <ngb-toast class="bg-success text-light">
        Question Updated Successfully
    </ngb-toast>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" *ngIf="showDeleteToast">
    <ngb-toast class="bg-danger text-light">
        Question Deleted Successfully
    </ngb-toast>
</div>