 /* .main {
   overflow: hidden;
 } */

 .card {
   max-width: 900px;
   margin: 10px;
 }

 .quest {
   padding-left: 10px;
 }

 li {
   list-style-type: none;
   cursor: pointer;
   margin: 10px 0;
 }

 li .card:hover {
   background: grey;
   color: white;
 }

 ol {
   padding: 0;
 }

 .isHidden {
   display: none;
   /* hide radio buttons */
 }

 .label {
   display: inline-block;
   /* background-color: red; */
   padding: 10px 10px;


 }

 .radio:checked+.label {
   /* target next sibling (+) label */
   background-color: green;
   border-radius: 5px;
   color: white;
 }

 .answer-indicator {
   display: inline-block;
   background-color: #CCCCCC;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 3px;
   margin-top: 15px;
   text-align: center;
   padding-top: 8px;

   /* text-align: center; */
 }

 .tag {
   top: 0%;
   position: relative;
   left: 105%;
   position: absolute;
   display: flex;

 }

 .attempted {
   background-color: blue;
 }

 .answer-demo {
   display: inline;
   background-color: #CCCCCC;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 3px;
   margin-top: 15px;
   text-align: center;
   padding-top: 8px;

 }

 .answer-demo1 {
   display: inline;
   background-color: #CCCCCC;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 3px;
   margin-top: 15px;
   text-align: center;
   padding-top: 8px;
   background-color: blue;

 }