.selectFrom {
    width: 80%;
}

.card-table {
    border-radius: 10px;
    padding: 15px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

tbody tr td {
    padding: 10px 0;
    border-bottom: none;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.paginate {
    margin-top: auto;
}