<div class="content">
    <div class="container d-flex justify-content-center mt-5">
        <form class="selectFrom text-center" [formGroup]="quizGroup" #updatequiz="ngForm"
            (ngSubmit)="updateQuiz(updatequiz.value)" name="formData">
            <div class="row mt-5">
                <div class="col-md-3 mt-2">
                    <div class="form-floating">
                        <input type="text" [(ngModel)]="Quiz.title" formControlName="title" class="form-control" #title
                            name="title">
                        <label for="name">Title</label>
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="TITLE.errors?.['required'] && (TITLE.touched || TITLE.dirty )">
                        Title is Required
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="form-floating">
                        <select [(ngModel)]="Quiz.duration" class="form-select" formControlName="duration" #duration
                            name="duration">
                            <option value="15" selected>15 min</option>
                            <option value="30">30 min</option>
                            <option value="45">45 min</option>
                            <option value="60">1 hr</option>
                            <option value="120">2 hr</option>
                        </select>
                        <label for="duration">Duration</label>
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="DURATION.errors?.['required'] && (DURATION.touched || DURATION.dirty )">
                        duration is Required
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="form-floating">
                        <input type="text" [(ngModel)]="Quiz.description" formControlName="description"
                            class="form-control" #description name="description">
                        <label for="type">Description</label>
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="DESCRIPTION.errors?.['required'] && (DESCRIPTION.touched || DESCRIPTION.dirty )">
                        Description is Required
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn updateBtn mt-3" (click)="updateQuiz(updatequiz.value)" [disabled]="quizGroup.invalid">
                        <i class="bi bi-plus-circle-fill"></i> Update
                      </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="card-table mt-3">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th scope="col" class="text-center align-top">Sr No.</th>
                        <th scope="col" class="align-top">Question-Groups</th>
                        <th scope="col" class="text-center align-top">Topic</th>
                        <th scope="col" class="text-center align-top">Questions</th>
                        <th scope="col" class="text-center align-top">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let questionGroup of questionGroups; let i = index" class="table-data">
                        <td scope="row" class="text-center align-middle">{{ i + 1 }}</td>
                        <td class="align-middle">{{ questionGroup.title }}</td>
                        <td class="text-center align-middle">{{ questionGroup.topic }}</td>
                        <td class="text-center align-middle">
                            {{ questionGroup.questionID.length }}
                        </td>
                        <td class="text-center">
                            <input type="checkbox" [value]="questionGroup._id" id="{{ questionGroup._id }}"
                                [checked]="isChecked(questionGroup._id)" (change)="onCheckChanged($event)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>