<div class="container-fluid info-sec">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center zen-info">
            <div>
                <app-info></app-info>
                <div *ngIf="!toggle">
                    <img src="./assets/signin-image.png" alt="" srcset="" class="img-intro">
                </div>
                <div *ngIf="toggle">
                    <img src="./assets/signup-image.png" alt="" srcset="" class="img-intro">
                </div>

            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center text-center log-sec py-5" *ngIf="!toggle">
            <div class="text-center page-wrap">
                <h2 class="text-center mb-5 head">LOGIN</h2>
                <form class="form" name="formData" #userData="ngForm" (ngSubmit)="LoginUser(userData.value)">
                    <!-- hihi -->
                    <div class="form-item">
                        <input type="email" #emailid required [(ngModel)]="loginData.email" name="email" />
                        <label for="emailid">Email</label>
                    </div>
                    <div class="form-item">
                        <input type="password" id="password" autocomplete="off" #passwordid required
                            [(ngModel)]="loginData.password" name="password" />
                        <label for="passwordid">Password</label>
                    </div>
                    <!-- <header>Create new account</header> -->

                    <input type="submit" class="inp login-btn py-2 mb-4" value="LOGIN" />
                    <br />
                    <button type="button" #sign_up class="signup py-2" (click)="displayReg()">
                        Create Account
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center my-auto sign-sec" *ngIf="toggle">
            <div>
                <h2 class="text-center mb-2 head">SIGN UP</h2>
                <form class="text-center" name="formData" #userData="ngForm" (ngSubmit)="registerUser(userData.value)">
                    <!-- <header>Create new account</header> -->
                    <div class="form-item">
                        <input type="text" #firstname required [(ngModel)]="userModel.firstname" name="firstname" />
                        <label for="firstname">First Name</label>
                    </div>

                    <div class="form-item">
                        <input type="text" #lastname required [(ngModel)]="userModel.lastname" name="lastname" />
                        <label for="lastname">Last Name</label>
                    </div>

                    <div class="form-item">
                        <input type="text" #emailid required [(ngModel)]="userModel.email" name="email" />
                        <label for="email">Email</label>
                    </div>

                    <div class="form-item">
                        <input type="text" #userName required [(ngModel)]="userModel.userName" name="userName" />
                        <label for="userName">Username</label>
                    </div>

                    <div class="form-item">
                        <input type="tel" #phone required [(ngModel)]="userModel.phone" name="phone" />
                        <label for="phone">Phone Number</label>
                    </div>

                    <div class="form-item">
                        <input type="password" #passwordid required [(ngModel)]="userModel.password" name="password" />
                        <label for="passwordid">Password</label>
                    </div>

                    <div class="form-item">
                        <input type="password" #confirmpasswordid required [(ngModel)]="userModel.confirmpassword"
                            name="confirmpassword" />
                        <label for="confirmpasswordid">Confirm Password</label>
                    </div>

                    <input type="submit" class="login-btn inp py-2 mb-3" value="SIGNUP" />
                    <br />
                    <button type="button" #toggle class="signup py-2" (click)="displayReg()">
                        Back to Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>